// main 
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// primary colors 
$soft_blue: #8bacda;
$cayan:#00fff7;

// natural colors 
$very_dark_blue:#0d192b;
$very_dark_blue_card: #14253d;
$very_dark_blue_line: #2f415b;
